//
   Created by bowenjiang on 2016-10-08.

html
    head
        title

    body
        form(name="add student", action="http://localhost:3000/add" method="post")
            input(type="text", name="firstName", placeholder="First Name")
            input(type="text", name="lastName", placeholder="Last Name")
            input(type="text", name="age", placeholder="Age")
            input(type="text", name="email", placeholder="Email")
            input(type="submit")